<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { padding: 3px; position: fixed; bottom: 0; width: 100%; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form autocomplete="off">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Message" id="m">
          </div>
          <div class="col-md-auto">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
          <div class="col-md-auto">
            <button class="btn btn-danger" id="clear">Clear All</button>
          </div>
        </div>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var socket = io();
            
            $.get("https://chahtup.mmrdevs.com/api/messages", function(data){
              data.forEach(msg => {
                $('#messages').append($('<li>').text(msg.message));
              })
            });

            $('form').submit(function(e){
              e.preventDefault();
              $.post("https://chahtup.mmrdevs.com/api/messages", { author: "anonymous", message: $('#m').val() })
              .fail(function() {
                alert( "an error occurred" );
              })
              $('#m').val('');
              return false;
            });

            socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
            });

            $('#clear').click(() => {
              $('#messages').empty();
              $.get("https://chahtup.mmrdevs.com/api/messages/clear");
            })
        });
    </script>
  </body>
</html>